{% extends "base.html" %}
{% load static %}
{% block content %}
<h1>{{character.name}}</h1>
<div class="container">
    <table class="table">
        <tr>
            <th>Level</th>
            <th>Prepared</th>
            <th>Spent</th>
            <th>Remaining</th>
        </tr>
        <tr>
            <td>1</td>
            <td><input type="number" name="p1" id="p1" class="prepared" value="{{character.l1p}}"></td>
            <td><input type="number" name="s1" id="s1" class="spent" value="{{character.l1s}}"></td>
            <td><input type="number" name="r1" id="r1" class="remaining"></td>
        </tr>
        <tr>
            <td>2</td>
            <td><input type="number" name="p2" id="p2" class="prepared" value="{{character.l2p}}"></td>
            <td><input type="number" name="s2" id="s2" class="spent" value="{{character.l2s}}"></td>
            <td><input type="number" name="r2" id="r2" class="remaining"></td>
        </tr>
		<tr>
			<td>3</td>
			<td><input type="number" name="p3" id="p3" class="prepared" value="{{character.l3p}}"></td>
			<td><input type="number" name="s3" id="s3" class="spent" value="{{character.l3s}}"></td>
			<td><input type="number" name="r3" id="r3" class="remaining"></td>
		</tr>
		<tr>
			<td>4</td>
			<td><input type="number" name="p4" id="p4" class="prepared" value="{{character.l4p}}"></td>
			<td><input type="number" name="s4" id="s4" class="spent" value="{{character.l4s}}"></td>
			<td><input type="number" name="r4" id="r4" class="remaining"></td>
		</tr>
		<tr>
			<td>5</td>
			<td><input type="number" name="p5" id="p5" class="prepared" value="{{character.l5p}}"></td>
			<td><input type="number" name="s5" id="s5" class="spent" value="{{character.l5s}}"></td>
			<td><input type="number" name="r5" id="r5" class="remaining"></td>
		</tr>
		<tr>
			<td>6</td>
			<td><input type="number" name="p6" id="p6" class="prepared" value="{{character.l6p}}"></td>
			<td><input type="number" name="s6" id="s6" class="spent" value="{{character.l6s}}"></td>
			<td><input type="number" name="r6" id="r6" class="remaining"></td>
		</tr>
		<tr>
			<td>7</td>
			<td><input type="number" name="p7" id="p7" class="prepared" value="{{character.l7p}}"></td>
			<td><input type="number" name="s7" id="s7" class="spent" value="{{character.l7s}}"></td>
			<td><input type="number" name="r7" id="r7" class="remaining"></td>
		</tr>
		<tr>
			<td>8</td>
			<td><input type="number" name="p8" id="p8" class="prepared" value="{{character.l8p}}"></td>
			<td><input type="number" name="s8" id="s8" class="spent" value="{{character.l8s}}"></td>
			<td><input type="number" name="r8" id="r8" class="remaining"></td>
		</tr>
		<tr>
			<td>9</td>
			<td><input type="number" name="p9" id="p9" class="prepared" value="{{character.l9p}}"></td>
			<td><input type="number" name="s9" id="s9" class="spent" value="{{character.l9s}}"></td>
			<td><input type="number" name="r9" id="r9" class="remaining"></td>
		</tr>
    </table>
    <button>Reset</button>
</div>

<input type="hidden" name="characterid" id="characterid" value="{{character.pk}}">
{% endblock %}
{% block script %}
    <script src="{% static "js/main.js" %}"></script>>
{% endblock %}